/*comments */
body {
    background: #f9e933;
  }
  
  header, main, footer {
    min-width: 855px;
  }
  
  header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
  }
  
  header {
    padding: 25px 0 25px 0;
    background: white;
    overflow: auto;
    border-bottom: 1px solid #ddd;
  }
  
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 3em;
    color: #b33;
    float: left;
    width: 570px;
  }
  
  /* FOOTER HEADINGS */
  h5 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.25em;
      margin-bottom: 20px;
  }
  
  h2 {
    font-family: 'Droid+Sans';
    font-size: 2em;
    margin-bottom: 20px;
  }
  header h1 {
    float: left;
    width: 570px;
  }
  
  main p {
      margin-bottom: 20px;
  }
  a {
    color: #f00;
    text-decoration: none;
    font-weight: bold;
  }

  header nav {
    float: right;
    width: 285px;
  }
  
  main {
    background: white;
    overflow: auto;
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
  }
  
  main .left {
    float: left;
    width: 570px;
  }
  
  main .right {
    float: right;
    width: 285px;
  }
  
main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
    clear: both;
    margin-left: 30px;
}
main li {
    border-radius: 5px;
    padding: 3px;
    margin: 0 0 10px 20px;
}


footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}



footer .sitemap {
    float: right;
    width: 285px;
}
.tabs a span {
  display: inline-block;
  border-radius: 5px 5px 0 0;
  width: 1--px;
  margin-right: 1-px;
  text-align: center;
  background: #ddd;
  padding: 5px;
}
.tabs a span.active {
  background: #eee;
}
.card {
  width: 150px;
  height: 100px;
  font-size: 2em;
  border: 1px;
  border-radius: 5px;
  padding: 5px;
  background: rgb(189, 212, 226);
}
.card-text {
  font-family: 'Droid+Sans';
  text-align: center;
}

.label {
  
  margin: 5px;
}

input, textarea {
  border: 1px;
  border-radius: 2px;
  margin-bottom: 20px;
}
#contact {
    float: left;
    width: 570px;
    background-color: white;    
}

#contact h5 {
COLOR: blue;
}

.bold {
    color: red;
    font-weight: bold;
}

.footer-nav {
    background-color: coral;
}